body, html
	margin: 0px
	padding: 10px

div
	display: flex
	box-sizing: border-box
	margin: 10px
	border: 1px solid black
	border-radius: 5px
	font-size: 25px
	font-family: Arial
	color: black

.hat, .main-footer
	height: 80px	
	background-color: #ccc

.hat
	align-items: center

.hat input
	height: 30px
	display: flex
	margin-left: auto
	margin-right: 60px

.hat p
	margin-left: 50px

.main-conteiner
	height: 200px

.sidebar-left, .sidebar-right
	width: 15%
	display: flex
	justify-content: center
	align-items: center
	background-color: #ccc

.main
	flex-grow: 1
	display: flex
	justify-content: center
	align-items: center
	background-color: #ccc

.main-footer
	height: 180px
	display: flex
	justify-content: space-between

.contacts, .e-mail, .images
	width: 20%
	border: 1px solid black
