body, html
	margin: 0px
	padding: 0px

div
	display: flex
	box-sizing: border-box
	margin: 10px
	border: 1px solid black
	border-radius: 5px
	font-size: 25px
	font-family: Arial
	color: black
	--back-color: #ccc
	--colors: #eee

.hat
	height: 80px	
	background-color: var(--back-color)

.hat
	align-items: center

	input
		height: 30px
		margin-left: auto
		margin-right: 60px

	p 
		margin-left: 50px


.main-conteiner
	height: 200px

.sidebar-left, .sidebar-right
	width: 15%
	justify-content: center
	align-items: center
	background-color: var(--back-color)

.main
	flex-grow: 1
	justify-content: center
	align-items: center
	background-color: var(--back-color)

.footer
	height: 180px
	justify-content: space-around
	background-color: var(--back-color)

	.contacts
		background-color: var(--colors)

	.e-mail
		background-color: var(--colors)

	.images
		background-color: var(--colors)

.contacts, .e-mail, .images
	width: 20%
