$color-container-gray: #ccc
$color-footer-container-gray: #eee

body, html
	margin: 0px
	padding: 0px

div
	display: flex
	box-sizing: border-box
	margin: 10px
	border: 1px solid black
	border-radius: 5px
	font-size: 25px
	font-family: Arial
	color: black

.hat
	align-items: center
	height: 80px

	.nav-hat
		height: 30px
		margin-left: auto
		align-items: center
		font-size: 15px
		border: 0

	.nav-hat a
		margin: 5px
		text-decoration: none

	.nav-hat a:hover 
		color: red

	p 
		margin-left: 50px

.main-container
	height: 200px

.sidebar-left, .sidebar-right
	width: 15%
	align-items: center
	justify-content: center

.main-content
	flex-grow: 1
	font-size: 15px
	flex-direction: column
	padding: 10px
	overflow: auto
	border-radius: 0px
	text-align: justify


.footer
	height: 180px
	justify-content: space-around

	.contacts, .e-mail, .images
		background-color: $color-footer-container-gray

.contacts, .e-mail, .images
	width: 20%

.hat, .sidebar-left, .sidebar-right, .main-content, .footer
	background-color: $color-container-gray
